.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, .15) 1px 1px 10px 0px;
    padding: 1rem 1rem;

}
.main{
    font-family: "Montd";
}
.header-logo svg {
    width: 120px;
}

.angular-logo {}

.group-nav {
    display: flex;
    column-gap: 1rem;
}


