.main{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{
    padding: 3rem 0;
    margin: 0;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
.wrapper-cart {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}
.btn-nav {
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.group-cart {
    width: 75%;
    background: #fff;
    margin: auto;
    border-radius: 4px;
    padding: 2rem;
}
.header-cart {
    display: flex;
    padding: 1rem;
    background: #e2e2e2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 1.5;
}
.col-3 {
    flex:1;
}
.col-4 {
    flex: .5;
}
.body-cart {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}
.row-cart {
    display: flex;
    align-items: center;

}
