h1{
    padding: 3rem 0;
    margin: 0;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
.wrapper-cart {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}
.form-control {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}
.form-control label{
    font-weight: 600;
}

.form-control input{
    width: 95%;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 4px;
    background-color: #e2e2e2;
}

