h1{
    padding: 3rem 0;
    margin: 0;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
.wrapper-cart {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}